.App {
 width:100%;
 font-size: 25px;
 height:100%;
 display:grid;
 grid-template-columns: 20% 80%;
 grid-template-areas: 
 'side headerBar'
 'side container';
}
.filler {
  width:10px;
  background-color:rgb(39, 38, 37);
  height:140%;
  opacity:0.5;
  position: absolute;
  left:10%;
  top:80%;
  z-index:99;
}
h1 {
  font-size:80px;
}
.container {
  width:100%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  grid-area: container;
  background-color: rgb(175, 175, 175);
}
.sideBar{
  width:100%;
  min-height:100%;
  background-color: rgb(199, 189, 171);

  grid-area:side;
}
.headerBar {
  width:100%;
  height:auto;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(39, 38, 37);
  grid-area: headerBar;
  color:white;
}
.editButton {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: solid orangered 2px;
  right:30px;
  position: absolute;
  
}
img {
  width:300px;
  z-index: 1;
  position: absolute;
  left:50px;
  top:50px;
  opacity:0.95;
}
.general {
  width: 100%;
}
.schoolList {
  display: flex;
  flex-direction: row;
  width: 500px;
  justify-content: space-between;
}

.other {
  padding: 50px 0px 50px 0px;
}

.schoolGrid {
  display:grid;
  grid-template-columns: 1fr 100px 100px 1fr;

}
.workForm {
  padding-top:50px;
  width:80%;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
input {
  width:250px;
  border-radius: 20px;
  border:solid orangered 2px;
  margin:10px;
  outline: none;
}
.submit {
  width:100px;
  height:50px;
  border:solid black 2px; 
  border-radius: 20px;
  background-color: orangered;
  color:white;
}