.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}
button {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: solid rgb(226, 176, 12) 2px;
  float: right;
  margin-right: 30px;
}
.general {
  background-color: darkolivegreen;
  width: 100%;
  padding-bottom: 50px;
}
.schoolList {
  display: flex;
  flex-direction: row;
  width: 500px;
  justify-content: space-between;
}
.education {
  background-color: antiquewhite;
  padding: 50px 0px 50px 0px;
  width: 100%;
}
.school {
  background-color: antiquewhite;
  padding: 50px 0px 50px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.work {
  background-color: burlywood;
  padding: 50px 0px 50px 0px;
  width: 100%;
}
.other {
  background-color: cornflowerblue;
  padding: 50px 0px 50px 0px;
  width: 100%;
}
